RPC_URL=http://localhost:6800/jsonrpc
RPC_SECRET=your_secret_here

# Trilium Backup Config
SERVER_IP=your_server_ip
SERVER_USER=root
PEM_FILE_LOCATION="C:\path\to\your\key.pem"
TARGET_COPY_FOLDER_LOCATION=/path/to/trilium/data
DESTINATION_FOLDER_LOCATION="C:\path\to\local\backup\folder"
TRILIUM_CONTAINER_NAME=trilium
